/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*------ Home Banner -----*/
.banner-wrapper .carousel-inner .carousel-item {
  height: 625px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.banner-wrapper .carousel-inner .banner-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
