/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: 'Bariol-Regular';
  src: url("../fonts/Bariol-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Bariol-Regular.otf") format("opentype"), url("../fonts/Bariol-Regular.woff") format("woff"), url("../fonts/Bariol-Regular.ttf") format("truetype"), url("../fonts/Bariol-Regular.svg#Bariol-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bariol-Bold';
  src: url("../fonts/Bariol-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bariol-Bold.otf") format("opentype"), url("../fonts/Bariol-Bold.woff") format("woff"), url("../fonts/Bariol-Bold.ttf") format("truetype"), url("../fonts/Bariol-Bold.svg#Bariol-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Vijaya';
  src: url("../fonts/Vijaya.eot?#iefix") format("embedded-opentype"), url("../fonts/Vijaya.woff") format("woff"), url("../fonts/Vijaya.ttf") format("truetype"), url("../fonts/Vijaya.svg#Vijaya") format("svg");
  font-weight: normal;
  font-style: normal; }

body,
html {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  position: relative; }

ul,
ol {
  padding: 0;
  margin-bottom: 0; }

ol {
  margin-left: 1.1em; }

address {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%; }

.center-block {
  float: none; }

/*---------- Heading ----------*/
h1 {
  font-size: 70px;
  font-weight: 400; }

h2, h2 a {
  font-size: 48px;
  font-weight: 400; }
  @media only screen and (max-width: 1499px) {
    h2, h2 a {
      font-size: 30px; } }

h3, h3 a {
  font-size: 35px;
  font-weight: 400; }
  @media only screen and (max-width: 1499px) {
    h3, h3 a {
      font-size: 24px; } }

h4, h4 a {
  font-size: 26px;
  font-weight: 400;
  color: #151515; }
  @media only screen and (max-width: 1499px) {
    h4, h4 a {
      font-size: 19px; } }

h5, h5 a {
  font-size: 18px;
  font-weight: 600; }

h6, h6 a {
  font-size: 16px;
  font-weight: 600; }
  @media only screen and (max-width: 1499px) {
    h6, h6 a {
      font-size: 14px; } }

p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 2em;
  color: #555555; }
  @media only screen and (max-width: 1499px) {
    p {
      font-size: 14px; } }

span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #464646; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: "Poppins", sans-serif;
  white-space: normal;
  word-break: break-all; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
  word-break: break-word;
  word-wrap: break-word; }

/*---------- Form ---------*/
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: "Poppins", sans-serif;
  padding: 8px 15px;
  border: 1px solid #f37e0d;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  line-height: 2em;
  min-width: 215px;
  color: #ffffff;
  background: #f37e0d; }

button:hover,
button:focus,
.button:hover,
.button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #f37e0d;
  background: #ffffff; }

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0; }

input[type="text"] {
  text-transform: capitalize !important; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
  padding: 2px 20px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #151515;
  font-size: 18px;
  color: #151515;
  border: 1px solid #d6d6d6; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    .form-control {
      font-size: 15px;
      padding: 2px 15px; } }

textarea.form-control {
  padding: 20px;
  resize: none; }
  @media only screen and (max-width: 1499px) {
    textarea.form-control {
      padding: 15px; } }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  height: 55px; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"] {
      height: 45px; } }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.slick-slide {
  outline: none; }

.form-control::-webkit-input-placeholder {
  color: #909090; }

.form-control::-moz-placeholder {
  color: #909090; }

.form-control:-ms-input-placeholder {
  color: #909090; }

input:-moz-placeholder {
  color: #909090; }

select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cccccc;
  height: 50px;
  outline: medium none;
  padding: 5px;
  text-indent: 1px;
  text-transform: none;
  width: 100%;
  background: white url("../images/select-arrow.png") no-repeat scroll 80% center; }

select::-ms-expand {
  display: none; }

/*---------- 2.1.3 Links ----------*/
a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #f37e0d; }

/*---------- 2.2 Table -----------*/
table,
th,
td {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th,
td {
  padding: 0.4375em; }

table,
dd,
address {
  margin: 0 0 1.75em; }

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
header {
  background: #ffffff; }

.transparent-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; }

.navbar-header {
  margin-right: 50px; }

.nav-top-sec {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 5px; }
  .nav-top-sec a {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    color: #325fab;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    line-height: 1; }
    .nav-top-sec a:hover {
      color: #f37e0d; }
    @media only screen and (max-width: 1499px) {
      .nav-top-sec a {
        font-size: 18px; } }
  .nav-top-sec span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    color: #f37e0d;
    font-size: 30px; }

.navbar-collapse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0; }

.navbar {
  background: transparent;
  border: none;
  min-height: 1px;
  margin: 0;
  border-radius: 0px;
  padding: 0px; }

.navbar-brand {
  padding: 0;
  height: auto; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0px; }

.navbar-nav > li {
  margin: 0 11px; }
  .navbar-nav > li:first-child {
    margin-left: 0px; }

.navbar-nav > li:last-child {
  margin-right: 0px; }

.navbar-nav > li > a {
  padding: 0; }

.navbar .navbar-nav > li.current-menu-item > a,
.navbar .navbar-nav > li.current-menu-parent > a {
  color: #f37e0d; }

.navbar .navbar-nav > li > a {
  color: #666666;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  line-height: 3em; }
  @media only screen and (max-width: 1499px) {
    .navbar .navbar-nav > li > a {
      font-size: 16px; } }

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #f37e0d;
  background-color: transparent; }

.navbar-nav .nav-link {
  padding: 0px !important; }

/*----- Navbar Dropdown ------*/
.navbar ul li {
  position: relative; }
  .navbar ul li .sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    min-width: 210px;
    text-align: left;
    z-index: 99;
    left: -15px;
    -webkit-transform: translateY(-2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em);
    -webkit-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background: #ffffff;
    pointer-events: none; }
    .navbar ul li .sub-menu li {
      margin: 0;
      display: block;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      border-bottom: 1px solid #e70000;
      pointer-events: none; }
      .navbar ul li .sub-menu li:last-child {
        border-bottom: none; }
      .navbar ul li .sub-menu li a {
        color: #666666;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        display: block;
        padding: 8px 15px;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        pointer-events: auto; }
        .navbar ul li .sub-menu li a:hover {
          color: #ffffff;
          background: #f37e0d; }
  .navbar ul li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    pointer-events: auto; }
  .navbar ul li > .sub-menu > li > .sub-menu {
    left: 100%;
    top: 0; }

/*----- Sticky Header -----*/
.fixed-header {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); }
  .fixed-header .nav-top-sec {
    display: none; }
  .fixed-header .navbar {
    padding: 10px 0px; }
  .fixed-header .navbar-brand {
    width: 65%; }

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*------ Home Banner -----*/
.banner-wrapper .carousel-inner {
  height: 625px; }
  .banner-wrapper .carousel-inner .carousel-item {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  @media only screen and (max-width: 1499px) {
    .banner-wrapper .carousel-inner {
      height: 500px; } }
  .banner-wrapper .carousel-inner .banner-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .banner-wrapper .carousel-inner .banner-caption .container {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      right: 0; }
    .banner-wrapper .carousel-inner .banner-caption h1 {
      color: #ffffff;
      font-family: 'Bariol-Bold'; }
      .banner-wrapper .carousel-inner .banner-caption h1 small {
        color: #ffffff;
        font-size: 48px;
        font-family: 'Bariol-Regular';
        text-transform: inherit;
        display: inline-block; }
        @media only screen and (max-width: 1499px) {
          .banner-wrapper .carousel-inner .banner-caption h1 small {
            font-size: 35px; } }
        .banner-wrapper .carousel-inner .banner-caption h1 small strong {
          color: #f37e0d;
          font-family: 'Bariol-Bold'; }
      @media only screen and (max-width: 1499px) {
        .banner-wrapper .carousel-inner .banner-caption h1 {
          font-size: 50px; } }
    .banner-wrapper .carousel-inner .banner-caption ul li {
      list-style: none;
      margin-bottom: 8px;
      position: relative;
      padding-left: 28px;
      color: #ffffff;
      font-family: 'Bariol-Regular';
      font-weight: 400;
      display: block;
      vertical-align: middle;
      letter-spacing: 1px;
      font-size: 22px; }
      @media only screen and (max-width: 1499px) {
        .banner-wrapper .carousel-inner .banner-caption ul li {
          font-size: 18px; } }
      .banner-wrapper .carousel-inner .banner-caption ul li figure {
        height: 15px;
        width: 15px;
        margin-right: 8px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: 0;
        left: 0; }
        .banner-wrapper .carousel-inner .banner-caption ul li figure svg {
          height: 100%;
          width: 100%;
          fill: #f37e0d; }

/*--------------- Get In Touch Form ----------------*/
.get-in-touch-wrap {
  padding-left: 50px; }
  .get-in-touch-wrap h4 {
    display: block;
    background: #f37e0d;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 3em;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400; }
  .get-in-touch-wrap form {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px 35px 35px; }
    .get-in-touch-wrap form .form-group {
      margin-bottom: 0px; }
    .get-in-touch-wrap form .form-control {
      background: transparent;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid #ffffff;
      padding-left: 0px;
      padding-right: 0px;
      opacity: 1;
      color: #ffffff;
      z-index: 99; }
    .get-in-touch-wrap form .form-control::-webkit-input-placeholder {
      color: #ffffff; }
    .get-in-touch-wrap form .form-control::-moz-placeholder {
      color: #ffffff; }
    .get-in-touch-wrap form .form-control:-ms-input-placeholder {
      color: #ffffff; }
    .get-in-touch-wrap form input:-moz-placeholder {
      color: #ffffff; }
    .get-in-touch-wrap form button {
      text-align: center;
      margin: 30px auto 0;
      display: block;
      background: #ffffff;
      border-radius: 5px;
      border-color: #ffffff;
      color: #151515;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      min-width: 130px; }
      .get-in-touch-wrap form button:hover, .get-in-touch-wrap form button:focus {
        background: #151515;
        color: #ffffff;
        border-color: #151515; }

/*-------------- Inner Banner -------------------*/
.inner-banner-wrapper {
  height: 375px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-align: center; }
  @media only screen and (max-width: 1499px) {
    .inner-banner-wrapper {
      height: 275px; } }
  .inner-banner-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); }
  .inner-banner-wrapper h2 {
    font-family: 'Bariol-Bold';
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: 1px; }
    @media only screen and (max-width: 1499px) {
      .inner-banner-wrapper h2 {
        font-size: 30px; } }

/*----------- Location Inner Banner ------------*/
.location-inner-banner-wrapper {
  height: 626px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 1499px) {
    .location-inner-banner-wrapper {
      height: 550px; } }
  .location-inner-banner-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); }
  .location-inner-banner-wrapper .content-sec {
    padding: 50px 0px; }
  .location-inner-banner-wrapper h2 {
    color: #ffffff;
    font-family: 'Bariol-Bold';
    font-size: 48px;
    display: inline-block;
    text-transform: uppercase; }
    @media only screen and (max-width: 1499px) {
      .location-inner-banner-wrapper h2 {
        font-size: 35px; } }
  .location-inner-banner-wrapper ul li {
    list-style: none;
    margin-bottom: 8px;
    position: relative;
    padding-left: 28px;
    color: #ffffff;
    font-family: 'Bariol-Regular';
    font-weight: 400;
    display: block;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 22px; }
    @media only screen and (max-width: 1499px) {
      .location-inner-banner-wrapper ul li {
        font-size: 18px; } }
    .location-inner-banner-wrapper ul li figure {
      height: 15px;
      width: 15px;
      margin-right: 8px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      bottom: 0;
      left: 0; }
      .location-inner-banner-wrapper ul li figure svg {
        height: 100%;
        width: 100%;
        fill: #f37e0d; }
  .location-inner-banner-wrapper .container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0; }
  .location-inner-banner-wrapper .get-in-touch-wrap form {
    background: rgba(225, 225, 225, 0.7); }
    .location-inner-banner-wrapper .get-in-touch-wrap form .form-control {
      color: #323232;
      border-bottom: 1px solid  #323232; }
    .location-inner-banner-wrapper .get-in-touch-wrap form .form-control::-webkit-input-placeholder {
      color: #323232; }
    .location-inner-banner-wrapper .get-in-touch-wrap form .form-control::-moz-placeholder {
      color: #323232; }
    .location-inner-banner-wrapper .get-in-touch-wrap form .form-control:-ms-input-placeholder {
      color: #323232; }
    .location-inner-banner-wrapper .get-in-touch-wrap form input:-moz-placeholder {
      color: #323232; }

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

/*----- Testimonial Section -----*/
.section {
  padding: 70px 0px; }
  @media only screen and (max-width: 1499px) {
    .section {
      padding: 50px 0px; } }
  .section h3 {
    color: #555555;
    text-transform: uppercase; }

.section-block-Testimonial {
  background: #f8f8f8;
  text-align: center; }
  .section-block-Testimonial h3 {
    margin-bottom: 40px; }
    @media only screen and (max-width: 1499px) {
      .section-block-Testimonial h3 {
        margin-bottom: 30px; } }
  .section-block-Testimonial .grid-item-sec h5 {
    text-align: left;
    margin-left: 55px;
    color: #8a8a8a;
    font-size: 18px;
    font-weight: 500; }
  .section-block-Testimonial .grid-item {
    background: #f6f6f6;
    padding: 40px 50px;
    -webkit-box-shadow: -1px 13px 23px rgba(0, 0, 0, 0.12);
    box-shadow: -1px 13px 23px rgba(0, 0, 0, 0.12);
    margin: 10px 60px 30px 15px;
    position: relative; }
    .section-block-Testimonial .grid-item span {
      display: block; }
      .section-block-Testimonial .grid-item span.up {
        float: right; }
    .section-block-Testimonial .grid-item blockquote {
      margin-bottom: 0px; }
    .section-block-Testimonial .grid-item:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 30px;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #f6f6f6; }
  .section-block-Testimonial .slick-arrow {
    position: absolute;
    top: -12%;
    z-index: 9;
    font-size: 25px;
    border: 2px solid #afafaf;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    opacity: 1; }
    .section-block-Testimonial .slick-arrow i {
      color: #afafaf;
      top: 49%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: 0;
      right: 0; }
    .section-block-Testimonial .slick-arrow:hover, .section-block-Testimonial .slick-arrow.active {
      border-color: #000; }
      .section-block-Testimonial .slick-arrow:hover i, .section-block-Testimonial .slick-arrow.active i {
        color: #000; }
  .section-block-Testimonial .slick-prev.slick-arrow {
    right: 45px; }
  .section-block-Testimonial .slick-next.slick-arrow {
    right: 0px; }
  .section-block-Testimonial blockquote {
    font-family: 'Vijaya';
    font-size: 16px;
    color: #666666; }

/*-------------- Services Section -----------------*/
.section-block-services h3 {
  text-align: center;
  margin-bottom: 40px; }
  @media only screen and (max-width: 1499px) {
    .section-block-services h3 {
      margin-bottom: 30px; } }

.section-block-services .mrgn-btm {
  margin-bottom: 40px; }
  @media only screen and (max-width: 1499px) {
    .section-block-services .mrgn-btm {
      margin-bottom: 20px; } }

.section-block-services .mrgn-btm-xs {
  margin-bottom: 20px; }

.section-block-services .grid-item .featured-thumb {
  height: 240px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 20px; }

.section-block-services .grid-item .hover-effect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  .section-block-services .grid-item .hover-effect span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto; }

.section-block-services .grid-item .content-sec {
  text-align: center;
  padding: 0 6px; }
  .section-block-services .grid-item .content-sec h5 a {
    color: #555555;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 20px; }
    .section-block-services .grid-item .content-sec h5 a:hover {
      color: #f37e0d; }
    @media only screen and (max-width: 1499px) {
      .section-block-services .grid-item .content-sec h5 a {
        font-size: 17px; } }
  .section-block-services .grid-item .content-sec h5:after {
    content: "";
    background: #f37e0d;
    height: 1px;
    width: 100px;
    text-align: center;
    margin: 15px auto 30px;
    display: block; }

.section-block-services .grid-item:hover .hover-effect {
  opacity: 1; }

/*--------------- Our Service -----------------*/
.our-services {
  padding: 0 80px; }
  .our-services .grid-item-sec {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .our-services .grid-item-sec .featured-thumb {
      height: 218px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative; }
      @media only screen and (max-width: 1499px) {
        .our-services .grid-item-sec .featured-thumb {
          height: 180px; } }
      .our-services .grid-item-sec .featured-thumb a {
        display: block; }
      .our-services .grid-item-sec .featured-thumb .hover-effect {
        text-align: center; }
        .our-services .grid-item-sec .featured-thumb .hover-effect h4 {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 20px;
          right: 20px;
          color: #ffffff;
          font-size: 24px;
          text-transform: uppercase;
          letter-spacing: 1px; }
          @media only screen and (max-width: 1499px) {
            .our-services .grid-item-sec .featured-thumb .hover-effect h4 {
              font-size: 20px; } }
        .our-services .grid-item-sec .featured-thumb .hover-effect:before {
          top: 15px;
          right: 15px;
          bottom: 15px;
          left: 15px;
          border: 4px solid #ffffff;
          position: absolute;
          content: '';
          z-index: 99; }
      .our-services .grid-item-sec .featured-thumb:before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
    .our-services .grid-item-sec:hover .featured-thumb .hover-effect h4 {
      color: #f37e0d;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }

/*------------------ Service Provide ----------------*/
.section-block-serviceProvide {
  background: #dae2ee;
  padding: 0px; }
  .section-block-serviceProvide .container {
    position: relative; }
  .section-block-serviceProvide h3 {
    margin-bottom: 22px; }
  .section-block-serviceProvide .content-sec {
    width: calc(100% - 425px);
    padding: 50px 10px 50px 0px; }
    .section-block-serviceProvide .content-sec p {
      margin-bottom: 30px; }
  .section-block-serviceProvide .img-sec {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    width: 445px;
    right: -30px;
    bottom: -40px;
    top: 0; }

/*---------------- Grid Section ----------------------*/
.section-block-grid .grid-item {
  border: 1px solid #e8e8e8;
  padding: 70px 50px; }
  @media only screen and (max-width: 1499px) {
    .section-block-grid .grid-item {
      padding: 40px 30px; } }
  .section-block-grid .grid-item p {
    margin-bottom: 0px; }
  .section-block-grid .grid-item h3:after {
    content: "";
    background: #f37e0d;
    height: 1px;
    width: 100px;
    margin: 15px 0px 18px;
    display: block; }

/*---------------- Core Benefits -----------------*/
.section-block-core-benefits {
  text-align: center; }
  .section-block-core-benefits h3 {
    margin-bottom: 25px; }
  .section-block-core-benefits p {
    width: 90%;
    margin: 0 auto 30px; }
  .section-block-core-benefits a {
    display: block; }
  .section-block-core-benefits .grid-item {
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    .section-block-core-benefits .grid-item:before {
      content: "";
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 16, 54, 0.1)), to(rgba(0, 16, 54, 0.7)));
      background: -webkit-linear-gradient(top, rgba(0, 16, 54, 0.1) 0%, rgba(0, 16, 54, 0.7) 100%);
      background: -o-linear-gradient(top, rgba(0, 16, 54, 0.1) 0%, rgba(0, 16, 54, 0.7) 100%);
      background: linear-gradient(to bottom, rgba(0, 16, 54, 0.1) 0%, rgba(0, 16, 54, 0.7) 100%);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9; }
    .section-block-core-benefits .grid-item .featured-thumb {
      height: 360px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative; }
      @media only screen and (max-width: 1499px) {
        .section-block-core-benefits .grid-item .featured-thumb {
          height: 300px; } }
      .section-block-core-benefits .grid-item .featured-thumb:before {
        content: "";
        background: #f37e0d;
        opacity: 0.6;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        opacity: 0;
        z-index: 99; }
    .section-block-core-benefits .grid-item .hover-effect {
      text-align: center; }
      .section-block-core-benefits .grid-item .hover-effect h5 {
        position: absolute;
        top: 90%;
        -webkit-transform: translateY(-90%);
        -ms-transform: translateY(-90%);
        transform: translateY(-90%);
        left: 20px;
        right: 20px;
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 1px;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
        z-index: 99; }
        @media only screen and (max-width: 1499px) {
          .section-block-core-benefits .grid-item .hover-effect h5 {
            font-size: 16px; } }
        .section-block-core-benefits .grid-item .hover-effect h5:hover {
          color: #151515; }
      .section-block-core-benefits .grid-item .hover-effect:before {
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1); }
      .section-block-core-benefits .grid-item .hover-effect:after {
        border-right: 4px solid #fff;
        border-left: 4px solid #fff;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        transform: scale(1, 0); }
      .section-block-core-benefits .grid-item .hover-effect:after, .section-block-core-benefits .grid-item .hover-effect:before {
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, -webkit-transform 0.35s;
        -o-transition: opacity 0.35s, transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
        z-index: 99; }
    .section-block-core-benefits .grid-item:hover .hover-effect h5 {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .section-block-core-benefits .grid-item:hover .hover-effect:after, .section-block-core-benefits .grid-item:hover .hover-effect:before {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .section-block-core-benefits .grid-item:hover:before {
      opacity: 0; }
    .section-block-core-benefits .grid-item:hover .featured-thumb:before {
      opacity: 0.8; }

/*-------------- Section block content ---------------*/
.section-block-content-wrap {
  background: #eef2f8;
  padding: 0px;
  height: 535px;
  margin-bottom: 40px; }
  .section-block-content-wrap .container {
    position: relative; }
  .section-block-content-wrap .content-sec {
    padding: 50px 0px; }
  .section-block-content-wrap .img-sec {
    padding-right: 10px;
    position: absolute;
    left: 0;
    top: -33px;
    z-index: 99; }
    .section-block-content-wrap .img-sec img {
      -webkit-box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.2); }

/*------------ Section block specialist -----------*/
.section-block-specialist h3 {
  text-align: center;
  margin-bottom: 40px; }

.section-block-specialist .grid-item {
  position: relative; }
  .section-block-specialist .grid-item .map-sec {
    height: 300px; }
    @media only screen and (max-width: 1499px) {
      .section-block-specialist .grid-item .map-sec {
        height: 250px; } }
    .section-block-specialist .grid-item .map-sec iframe {
      height: 100%;
      width: 100%; }
  .section-block-specialist .grid-item .hover-sec {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; }
    .section-block-specialist .grid-item .hover-sec .content-sec {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0 auto; }
      .section-block-specialist .grid-item .hover-sec .content-sec img {
        display: inline-block;
        margin-bottom: 30px; }
    .section-block-specialist .grid-item .hover-sec:before {
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      border: 1px solid #ffffff;
      position: absolute;
      content: ''; }
    .section-block-specialist .grid-item .hover-sec h4 {
      color: #ffffff;
      font-size: 25px;
      font-weight: 500; }
      @media only screen and (max-width: 1499px) {
        .section-block-specialist .grid-item .hover-sec h4 {
          font-size: 20px; } }
  .section-block-specialist .grid-item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .section-block-specialist .grid-item.blue-sec:before {
    background: #325fab;
    opacity: 0.75;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .section-block-specialist .grid-item.blue-sec:hover:before {
    opacity: 1; }
  .section-block-specialist .grid-item.orange-sec:before {
    background: #f37e0d;
    opacity: 0.75;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .section-block-specialist .grid-item.orange-sec:hover:before {
    opacity: 1; }

/*----------- Get In Touch -----------*/
.get-in-touch {
  padding-left: 20px; }
  .get-in-touch h4 {
    display: block;
    background: #f37e0d;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 3em;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400; }
  .get-in-touch form {
    background: #ededed;
    padding: 25px 35px 35px; }
    .get-in-touch form .form-group {
      margin-bottom: 0px; }
    .get-in-touch form .form-control {
      background: transparent;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid #717171;
      padding-left: 0px;
      padding-right: 0px;
      opacity: 1;
      z-index: 99; }
    .get-in-touch form button {
      text-align: center;
      margin: 30px auto 0;
      display: block;
      background: transparent;
      border-radius: 5px;
      border-color: #f37e0d;
      color: #f37e0d;
      min-width: 130px; }
      .get-in-touch form button:hover, .get-in-touch form button:focus {
        background: #f37e0d;
        color: #ffffff;
        border-color: #f37e0d; }

/*----------- Fresh Water Transform ----------*/
.section-block-contact-info h3 {
  margin-bottom: 25px; }

.section-block-contact-info .content-sec {
  border: 1px solid #e8e8e8;
  padding: 30px;
  position: relative; }

.section-block-contact-info .button {
  position: absolute;
  right: 15px;
  bottom: -38px; }

.section-block-contact-info .mrgn {
  margin-bottom: 50px; }

/*-------------- Block Grid ----------------*/
.section-grid-block h3 {
  text-align: center;
  margin-bottom: 40px; }
  @media only screen and (max-width: 1499px) {
    .section-grid-block h3 {
      margin-bottom: 30px; } }

.section-grid-block .mrgn-btm {
  margin-bottom: 40px; }
  @media only screen and (max-width: 1499px) {
    .section-grid-block .mrgn-btm {
      margin-bottom: 20px; } }

.section-grid-block .mrgn-btm-xs {
  margin-bottom: 20px; }

.section-grid-block .grid-item .featured-thumb {
  height: 234px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 20px; }

.section-grid-block .grid-item .content-sec {
  text-align: center;
  padding: 0 6px; }
  .section-grid-block .grid-item .content-sec h5 a {
    color: #555555;
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    line-height: 1.5em;
    font-size: 20px; }
    .section-grid-block .grid-item .content-sec h5 a:hover {
      color: #f37e0d; }
    @media only screen and (max-width: 1499px) {
      .section-grid-block .grid-item .content-sec h5 a {
        font-size: 17px; } }
  .section-grid-block .grid-item .content-sec h5:after {
    content: "";
    background: #f37e0d;
    height: 1px;
    width: 100px;
    text-align: center;
    margin: 15px auto 30px;
    display: block; }

/*----------------- Section Block Package --------------------*/
.section-block-package h3 {
  margin-bottom: 20px; }

.section-block-package .package-content {
  border: 1px solid #e8e8e8;
  padding: 30px; }
  .section-block-package .package-content h4 {
    margin-bottom: 20px; }
  .section-block-package .package-content li {
    list-style: none;
    margin-bottom: 8px;
    position: relative;
    padding-left: 28px;
    color: #888787;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    display: block;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 18px; }
    .section-block-package .package-content li figure {
      height: 15px;
      width: 15px;
      margin-right: 8px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      bottom: 0;
      left: 0; }
      .section-block-package .package-content li figure svg {
        height: 100%;
        width: 100%;
        fill: #f37e0d; }

/*------------ Why Choose Us --------------*/
.why-choose-wrap {
  padding-left: 20px; }
  .why-choose-wrap h5 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #151515; }
  .why-choose-wrap li {
    list-style: none;
    position: relative;
    margin-bottom: 15px; }
    .why-choose-wrap li a {
      border: 1px solid #e8e8e8;
      padding: 20px 10px 20px 70px;
      display: block;
      background: #f9f9f9;
      color: #151515;
      font-size: 18px;
      line-height: 1.2em; }
      .why-choose-wrap li a:hover {
        border-color: #f37e0d;
        color: #f37e0d;
        background: transparent; }
    .why-choose-wrap li img {
      position: absolute;
      left: 20px;
      top: 50%;
      bottom: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

/*-------------- Client Logo Slider ---------------*/
.section-block-clientlogo .grid-item {
  display: inline-block;
  vertical-align: middle; }
  .section-block-clientlogo .grid-item img {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle; }

/*------------ Contact Information -------------*/
.section-block-contactus .map-wrap {
  padding-right: 18px; }

.section-block-contactus .map-sec {
  height: 570px;
  margin-bottom: 25px; }
  .section-block-contactus .map-sec iframe {
    height: 100%;
    width: 100%; }

.section-block-contactus .social-share {
  text-align: center; }
  .section-block-contactus .social-share li {
    margin: 0 5px; }
    .section-block-contactus .social-share li a {
      color: #f37e0d;
      border: 1px solid #f37e0d;
      border-radius: 100%;
      height: 80px;
      width: 80px;
      display: inline-block;
      font-size: 20px;
      position: relative; }
      @media only screen and (max-width: 1499px) {
        .section-block-contactus .social-share li a {
          height: 50px;
          width: 50px; } }
      .section-block-contactus .social-share li a i {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0; }
      .section-block-contactus .social-share li a:hover {
        background: #f37e0d;
        color: #ffffff; }

.section-block-contactus .get-a-quote {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 40px 35px; }
  .section-block-contactus .get-a-quote h4 {
    font-size: 26px;
    color: #f37e0d;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .section-block-contactus .get-a-quote form .form-control {
    border-radius: 4px;
    height: 60px; }
  .section-block-contactus .get-a-quote form textarea.form-control {
    height: 130px; }
  .section-block-contactus .get-a-quote form .button {
    width: 100%; }

/*-------------- Section Gallery --------------------*/
.section-block-gallery {
  width: 935px;
  margin: 0 auto; }
  .section-block-gallery .grid-item {
    margin-bottom: 30px; }
    .section-block-gallery .grid-item .row .before-sec {
      padding-right: 0px; }
    .section-block-gallery .grid-item .row .after-sec {
      padding-left: 0px; }
  .section-block-gallery .grid-content {
    background: #f5f5f5;
    padding: 10px 15px; }
    .section-block-gallery .grid-content p {
      margin-bottom: 0px; }
  .section-block-gallery .grid-sec {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 335px;
    position: relative; }
    .section-block-gallery .grid-sec span {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(11, 55, 126, 0.8);
      display: inline-block;
      color: #ffffff;
      font-size: 20px;
      min-width: 105px;
      line-height: 2em;
      text-transform: capitalize;
      text-align: center; }
  .section-block-gallery .show-more {
    text-align: center;
    margin: 55px auto 0px; }

/*---------------- Blog list ----------------*/
.section-block-blogList {
  padding: 80px 0px; }
  .section-block-blogList .grid-item {
    position: relative;
    border-bottom: 1px solid #cecece;
    margin-bottom: 35px;
    padding-bottom: 45px; }
    .section-block-blogList .grid-item .featured-thumb {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 190px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 200px; }
    .section-block-blogList .grid-item .content-sec {
      padding-left: 230px; }
      .section-block-blogList .grid-item .content-sec h5 a {
        color: #555555;
        font-size: 20px; }
        .section-block-blogList .grid-item .content-sec h5 a:hover {
          color: #f37e0d; }
      .section-block-blogList .grid-item .content-sec .meta-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .section-block-blogList .grid-item .content-sec .meta-info span {
          color: #aaaaaa;
          font-size: 16px;
          -ms-flex-item-align: center;
          align-self: center; }
        .section-block-blogList .grid-item .content-sec .meta-info a {
          min-width: 160px;
          line-height: 1.3em;
          -ms-flex-item-align: center;
          align-self: center;
          font-family: 'Bariol-Regular';
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px; }

/*------------------- Blog Detail --------------------*/
.section-block-blogSingle {
  padding: 80px 0px; }
  .section-block-blogSingle .featured-thumb {
    margin-bottom: 20px; }
  .section-block-blogSingle .social-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 6px;
    margin-bottom: 20px; }
    .section-block-blogSingle .social-info .meta-info {
      -ms-flex-item-align: center;
      align-self: center; }
      .section-block-blogSingle .social-info .meta-info span {
        font-size: 16px;
        color: #aaaaaa; }
    .section-block-blogSingle .social-info .social-share {
      -ms-flex-item-align: center;
      align-self: center; }
      .section-block-blogSingle .social-info .social-share li a {
        color: #bfbfbf;
        font-size: 20px; }
        .section-block-blogSingle .social-info .social-share li a:hover {
          color: #f37e0d; }
  .section-block-blogSingle h5 {
    font-size: 20px; }
  .section-block-blogSingle p {
    margin-bottom: 0px; }

/*------------------- Sidebar Section -------------------*/
.section-element-sideBar .search-form {
  margin-bottom: 20px; }
  .section-element-sideBar .search-form input[type="search"] {
    padding: 0px 80px 0px 30px;
    border-color: #d7d7d7;
    background: transparent; }
    @media only screen and (max-width: 1499px) {
      .section-element-sideBar .search-form input[type="search"] {
        padding: 0px 80px 0px 20px; } }
  .section-element-sideBar .search-form form {
    position: relative; }
  .section-element-sideBar .search-form .search-submit {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #d7d7d7;
    min-width: inherit;
    position: absolute;
    top: 50%;
    right: 0px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 2.5;
    width: 60px;
    border-radius: 0px;
    padding: 0px; }
    .section-element-sideBar .search-form .search-submit:before {
      content: "\f002";
      font-size: 15px;
      font-family: FontAwesome; }
    .section-element-sideBar .search-form .search-submit:hover {
      background: #f37e0d;
      color: #ffffff; }

.section-element-sideBar h4 {
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: 500; }

.section-element-sideBar .section-element-recentPost,
.section-element-sideBar .section-element-Category,
.section-element-sideBar .section-element-Archive {
  border: 1px solid #d7d7d7;
  padding: 25px;
  margin-bottom: 20px; }

.section-element-sideBar .recent-post-grid {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px; }
  .section-element-sideBar .recent-post-grid:last-child {
    border-bottom: none;
    margin-bottom: 0px; }
  .section-element-sideBar .recent-post-grid .featured-thumb {
    height: 72px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0; }
  .section-element-sideBar .recent-post-grid .content-sec {
    padding-left: 100px;
    width: 100%; }
    .section-element-sideBar .recent-post-grid .content-sec p {
      font-size: 14px;
      line-height: 1.5em; }

.section-element-sideBar .recent-post-grid-wrap {
  margin-bottom: 20px; }
  .section-element-sideBar .recent-post-grid-wrap:last-child {
    margin-bottom: 0px; }
  .section-element-sideBar .recent-post-grid-wrap .meta-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 3px 0px; }
    .section-element-sideBar .recent-post-grid-wrap .meta-info span {
      font-size: 12px;
      color: #8d8d8d;
      -ms-flex-item-align: center;
      align-self: center; }
    .section-element-sideBar .recent-post-grid-wrap .meta-info a {
      color: #8d8d8d;
      font-size: 12px;
      -ms-flex-item-align: center;
      align-self: center;
      text-transform: capitalize; }
      .section-element-sideBar .recent-post-grid-wrap .meta-info a:hover {
        color: #f37e0d; }

.section-element-sideBar .section-element-Category ul li {
  list-style: none;
  margin-bottom: 10px;
  position: relative; }
  .section-element-sideBar .section-element-Category ul li a {
    color: #999999;
    font-size: 16px;
    padding-left: 20px;
    display: inline-block; }
    .section-element-sideBar .section-element-Category ul li a:hover {
      color: #151515; }
      .section-element-sideBar .section-element-Category ul li a:hover:before {
        color: #f37e0d; }
    .section-element-sideBar .section-element-Category ul li a:before {
      content: "\f0da";
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      color: #999999; }
  .section-element-sideBar .section-element-Category ul li:last-child {
    margin-bottom: 0px; }

.section-element-sideBar .section-element-Archive ul li {
  list-style: none;
  margin-bottom: 10px; }
  .section-element-sideBar .section-element-Archive ul li a {
    color: #999999;
    font-size: 16px;
    display: inline-block; }
    .section-element-sideBar .section-element-Archive ul li a:hover {
      color: #151515; }
  .section-element-sideBar .section-element-Archive ul li:last-child {
    margin-bottom: 0px; }

.load-more {
  text-align: center;
  margin: 70px auto 0px; }
  .load-more a {
    color: #f37e0d;
    border: 1px solid #f37e0d;
    width: 154px;
    height: 2.3em;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 6px; }
    .load-more a:hover {
      background: #f37e0d;
      color: #ffffff; }

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
.footer-wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .footer-wrapper .footer-top {
    padding: 60px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-wrapper .content-wrap {
    width: 30%;
    padding-right: 30px; }
    .footer-wrapper .content-wrap img {
      display: inline-block;
      margin-bottom: 20px; }
    .footer-wrapper .content-wrap p {
      font-size: 14px;
      color: #bfbfbf;
      line-height: 20px; }
  .footer-wrapper h4 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media only screen and (max-width: 1499px) {
      .footer-wrapper h4 {
        font-size: 20px; } }
  .footer-wrapper .contact-info {
    width: 25%;
    margin-right: 50px; }
    .footer-wrapper .contact-info li {
      position: relative;
      margin-bottom: 12px; }
      .footer-wrapper .contact-info li span:first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0; }
      .footer-wrapper .contact-info li span:nth-child(2) {
        color: #bfbfbf;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        padding-left: 25px;
        display: inline-block; }
      .footer-wrapper .contact-info li a {
        color: #bfbfbf;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        padding-left: 25px;
        display: inline-block; }
        .footer-wrapper .contact-info li a:hover {
          color: #f37e0d; }
  .footer-wrapper .follow-us {
    width: 17%; }
    .footer-wrapper .follow-us li {
      margin-right: 30px; }
      @media only screen and (max-width: 1499px) {
        .footer-wrapper .follow-us li {
          margin-right: 20px; } }
      .footer-wrapper .follow-us li a {
        color: #bfbfbf;
        font-size: 30px; }
        @media only screen and (max-width: 1499px) {
          .footer-wrapper .follow-us li a {
            font-size: 24px; } }
        .footer-wrapper .follow-us li a:hover {
          color: #f37e0d; }
  .footer-wrapper .footer-bottom {
    border-top: 1px solid #8f8f8f;
    padding: 20px 0px; }
  .footer-wrapper .copyright-sec {
    text-align: center; }
    .footer-wrapper .copyright-sec span {
      font-size: 15px;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      color: #8f8f8f; }
    .footer-wrapper .copyright-sec a {
      color: #8f8f8f; }
      .footer-wrapper .copyright-sec a:hover {
        color: #f37e0d; }
