/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    .carousel-inner {
        height: 625px;
        .carousel-item {
            height: 100%;
            @include background(center center, cover);
        }
        @include breakpoint(x-normal) {
            height: 500px;
        }
        .banner-caption {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .container {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
            }
            h1 {
                color: $color-white;
                font-family: 'Bariol-Bold';
                small {
                    color: $color-white;
                    font-size: 48px;
                    font-family: 'Bariol-Regular';
                    text-transform: inherit;
                    display: inline-block;
                    @include breakpoint(x-normal) {
                        font-size: 35px;
                    }
                    strong {
                        color: $color-orange;
                        font-family: 'Bariol-Bold';
                    }
                }
                @include breakpoint(x-normal) { 
                    font-size: 50px;
                }
            }
            ul {
                li {
                    list-style: none;
                    margin-bottom: 8px;
                    position: relative;
                    padding-left: 28px;
                    color: $color-white;
                    font-family: 'Bariol-Regular';
                    font-weight: $font-weight-regular;
                    display: block;
                    vertical-align: middle;
                    letter-spacing: 1px;
                    font-size: 22px;
                    @include breakpoint(x-normal) { 
                        font-size: 18px;
                    }
                    figure {
                        height: 15px;
                        width: 15px;
                        margin-right: 8px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        bottom: 0;
                        left: 0;
                        svg {
                            height: 100%;
                            width: 100%;
                            fill: $color-orange;
                        }
                    }
                }
            }
        }
    }
}

/*--------------- Get In Touch Form ----------------*/

.get-in-touch-wrap {
    padding-left: 50px;
    h4 {
        display: block;
        background: $color-orange;
        text-transform: $text-uppercase;
        color: $color-white;
        text-align: center;
        line-height: 3em;
        margin-bottom: 0px;
        font-family: $font-family;
        font-weight: $font-weight-regular;
    }
    form {
        background: rgba(0, 0, 0, 0.5);
        padding: 25px 35px 35px;
        .form-group {
            margin-bottom: 0px;
        }
        .form-control {
            background: transparent;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid $color-white;
            padding-left: 0px;
            padding-right: 0px;
            opacity: 1;
            color: $color-white;
             z-index: 99;
        }
        .form-control::-webkit-input-placeholder { 
            color: $color-white;
        }
        .form-control::-moz-placeholder { 
            color: $color-white;
        }
        .form-control:-ms-input-placeholder { 
            color: $color-white;
        }
        input:-moz-placeholder { 
            color: $color-white;
        }
        button {
            text-align: center;
            margin: 30px auto 0;
            display: block;
            background: $color-white;
            border-radius: 5px;
            border-color: $color-white;
            color: $black;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            min-width: 130px;
            &:hover, &:focus {
                background: $black;
                color: $color-white;
                border-color: $black;
            }
        }
    }
}

/*-------------- Inner Banner -------------------*/

.inner-banner-wrapper {
    height: 375px;
    @include background(center center, cover);
    position: relative;
    text-align: center;
    @include breakpoint(x-normal) {
        height: 275px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    h2 {
        font-family: 'Bariol-Bold';
        font-weight: $font-weight-bold;
        color: $color-white;
        text-transform: $text-uppercase;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        letter-spacing: 1px;
        @include breakpoint(x-normal) {
            font-size: 30px;
        }
    }
}

/*----------- Location Inner Banner ------------*/

.location-inner-banner-wrapper {
    height: 626px;
    @include background(center center, cover);
    position: relative;
    @include breakpoint(x-normal) {
        height: 550px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .content-sec {
        padding: 50px 0px;
    }
    h2 {
        color: $color-white;
        font-family: 'Bariol-Bold';
        font-size: 48px;
        display: inline-block;
        text-transform: uppercase;
        @include breakpoint(x-normal) {
            font-size: 35px;
        }
    }
    ul {
        li {
            list-style: none;
            margin-bottom: 8px;
            position: relative;
            padding-left: 28px;
            color: $color-white;
            font-family: 'Bariol-Regular';
            font-weight: $font-weight-regular;
            display: block;
            vertical-align: middle;
            letter-spacing: 1px;
            font-size: 22px;
            @include breakpoint(x-normal) { 
                font-size: 18px;
            }
            figure {
                height: 15px;
                width: 15px;
                margin-right: 8px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                bottom: 0;
                left: 0;
                svg {
                    height: 100%;
                    width: 100%;
                    fill: $color-orange;
                }
            }
        }
    }
    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
    }
    .get-in-touch-wrap {
        form {
            background: rgba(225, 225, 225, 0.7);
            .form-control {
                color: #323232;
                border-bottom: 1px solid  #323232;
            }
            .form-control::-webkit-input-placeholder { 
                color: #323232;
            }
            .form-control::-moz-placeholder { 
                color: #323232;
            }
            .form-control:-ms-input-placeholder { 
                color: #323232;
            }
            input:-moz-placeholder { 
                color: #323232;
            }
        }
    }
}