/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    @include background(center center, cover);
    .footer-top {
        padding: 60px 0px 15px;
        display: flex;
        justify-content: space-between;
    }
    .content-wrap {
        width: 30%;
        padding-right: 30px;
        img {
            display: inline-block;
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            color: #bfbfbf;
            line-height: 20px;
        }
    }
    h4 {
        font-size: 24px;
        color: $color-white;
        margin-bottom: 30px;
        text-transform: $text-uppercase;
        letter-spacing: 1px;
        @include breakpoint(x-normal) {
            font-size: 20px;
        }
    }
    .contact-info {
        width: 25%;
        margin-right: 50px;
        li {
            position: relative;
            margin-bottom: 12px;
            span {
                &:first-child {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
                &:nth-child(2) {
                    color: #bfbfbf;
                    font-size: 16px;
                    font-family: $font-family;
                    font-weight: 300;
                    padding-left: 25px;
                    display: inline-block;
                }
            }
            a {
                color: #bfbfbf;
                font-size: 16px;
                font-family: $font-family;
                font-weight: 300;
                padding-left: 25px;
                display: inline-block;
                &:hover {
                    color: $color-orange;
                }
            }
        }
    }
    .follow-us {
        width: 17%;
        li {
            margin-right: 30px;
            @include breakpoint(x-normal) {
                margin-right: 20px;
            }
            a {
                color: #bfbfbf;
                font-size: 30px;
                @include breakpoint(x-normal) {
                    font-size: 24px;
                }
                &:hover {
                    color: $color-orange;
                }
            }
        }
    }
    .footer-bottom {
        border-top: 1px solid #8f8f8f;
        padding: 20px 0px;
    }
    .copyright-sec {
        text-align: center;
        span{
            font-size: 15px;
            font-family: $font-family;
            font-weight: 300;
            color: #8f8f8f;
        }
        a {
            color: #8f8f8f;
            &:hover {
                color: $color-orange;
            }
        }
    }
}