/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

header {
	background: #ffffff;
}

.transparent-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.navbar-header {
	margin-right: 50px;
}

.nav-top-sec {
	width: 100%;
	text-align: right;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 5px;
	a {
		font-size: 22px;
		font-family: "Poppins", sans-serif;
		color: #325fab;
		font-weight: 600;
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		&:hover {
			color: #f37e0d;
		}
		@include breakpoint(x-normal) {
			font-size: 18px;
		}
	}
	span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 2px;
		color: $color-orange;
		font-size: 30px;
	}
}

.navbar-collapse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0;
}

.navbar {
	background: transparent;
	border: none;
	min-height: 1px;
	margin: 0;
	border-radius: 0px;
	padding: 0px;
}

.navbar-brand {
	padding: 0;
	height: auto;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
	margin-left: 0px;
}

.navbar-nav > li {
	margin: 0 11px;
	&:first-child {
		margin-left: 0px;
	}
}

.navbar-nav > li:last-child {
	margin-right: 0px;
}

.navbar-nav > li > a {
	padding: 0;
}

.navbar .navbar-nav > li.current-menu-item > a,
.navbar .navbar-nav > li.current-menu-parent > a {
	color: #f37e0d;
}

.navbar .navbar-nav > li > a {
	color: #666666;
	font-weight: 400;
	font-size: 20px;
	text-transform: capitalize;
	letter-spacing: 0.03em;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	line-height: 3em;
	@include breakpoint(x-normal) {
		font-size: 16px;
	}
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
	color: #f37e0d;
	background-color: transparent;
}

.navbar-nav .nav-link {
	padding: 0px !important;
}

/*----- Navbar Dropdown ------*/

.navbar {
    ul {
        li {
            position: relative;
            .sub-menu {
                visibility: hidden;
				opacity: 0;
				position: absolute;
				min-width: 210px;
				text-align: left;
				z-index: 99;
				left: -15px;
				-webkit-transform: translateY(-2em);
				-ms-transform: translateY(2em);
				transform: translateY(2em);
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				transform-origin: 0 0 0;
				-webkit-transition: all 0.4s ease 0s;
				-o-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
				background: #ffffff;
				pointer-events: none;
                li {
                    margin: 0;
                    display: block;
                    -webkit-transition: all 0.4s ease-in-out 0s;
                    -o-transition: all 0.4s ease-in-out 0s;
                    transition: all 0.4s ease-in-out 0s;
                    border-bottom: 1px solid $color-red;
					pointer-events: none;
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                       	color: #666666;
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        text-transform: capitalize;
                        display: block;
                        padding: 8px 15px;
                        -webkit-transition: all 0.4s ease-in-out 0s;
                        -o-transition: all 0.4s ease-in-out 0s;
                        transition: all 0.4s ease-in-out 0s;
						pointer-events: auto;
						&:hover {
							color: #ffffff;
							background: $color-orange;
						}
                    }
                }
            }
            &:hover {
                > .sub-menu {
						visibility: visible;
						opacity: 1;
						-webkit-transform: translateY(0%);
						-ms-transform: translateY(0%);
						transform: translateY(0%);
						-webkit-transition: all 0.4s ease 0s;
						-o-transition: all 0.4s ease 0s;
						transition: all 0.4s ease 0s;
						pointer-events: auto;
                }
            }
            > .sub-menu {
                > li {
                    > .sub-menu {
                        left: 100%;
                        top: 0;
                    }
                }
            }
        }
    }
}

/*----- Sticky Header -----*/

.fixed-header {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	opacity: 1;
	visibility: visible;
	z-index: 999;
	position: fixed;
	left: 0;
	right: 0;
	background: #ffffff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	.nav-top-sec {
		display: none;
	}
	.navbar {
		padding: 10px 0px;
	}
	.navbar-brand {
		width: 65%;
	}
}