/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/*----- Testimonial Section -----*/

.section {
    padding: 70px 0px;
    @include breakpoint(x-normal) {
        padding: 50px 0px;
    }
    h3 {
        color: #555555;
        text-transform: $text-uppercase;
    }
}

.section-block-Testimonial {
    background: #f8f8f8;
    text-align: center;
    h3 {
        margin-bottom: 40px;
        @include breakpoint(x-normal) {
            margin-bottom: 30px;
        }
    }
    .grid-item-sec {
        h5 {
            text-align: left;
            margin-left: 55px;
            color: #8a8a8a;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .grid-item {
        background: #f6f6f6;
        padding: 40px 50px;
        box-shadow: -1px 13px 23px rgba(0, 0, 0, 0.12);
        margin: 10px 60px 30px 15px;
        position: relative;
        span {
            display: block;
            &.up {
                float: right;
            }
        }
        blockquote {
            margin-bottom: 0px;
        }
        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 30px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #f6f6f6;
        }
    }
    .slick-arrow {
        position: absolute;
        top: -12%;
        z-index: 9;
        font-size: 25px;
        border: 2px solid #afafaf;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        text-align: center;
        cursor: pointer;
        opacity: 1;
        i {
            color: #afafaf;
            top: 49%;
            transform: translateY(-50%);
            position: absolute;
            left: 0;
            right: 0;
        }
        &:hover,
        &.active {
            border-color: #000;
            i {
                color: #000;
            }
        }
    }
    .slick-prev.slick-arrow {
        right: 45px;
    }
    .slick-next.slick-arrow {
        right: 0px;
    }
    blockquote {
        font-family: 'Vijaya';
        font-size: 16px;
        color: #666666;
    }
}

/*-------------- Services Section -----------------*/

.section-block-services {
    h3 {
        text-align: center;
        margin-bottom: 40px;
        @include breakpoint(x-normal) {
            margin-bottom: 30px;
        }
    }
    .mrgn-btm {
        margin-bottom: 40px;
        @include breakpoint(x-normal) {
            margin-bottom: 20px;
        }
    }
    .mrgn-btm-xs {
        margin-bottom: 20px;
    }
    .grid-item {
        .featured-thumb {
            height: 240px;
            @include background(center center, cover);
            position: relative;
            margin-bottom: 20px;
        }
        .hover-effect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            background: rgba(0, 0, 0, 0.6);
            opacity: 0;
            transition: all 0.3s ease-in-out 0s;
            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
        .content-sec {
            text-align: center;
            padding: 0 6px;
            h5 {
                a {
                    color: #555555;
                    font-family: $font-family;
                    font-weight: 500;
                    line-height: 1.5em;
                    font-size: 20px;
                    &:hover {
                        color: $color-orange;
                    }
                    @include breakpoint(x-normal) {
                        font-size: 17px;
                    }
                }
                &:after {
                    content: "";
                    background: $color-orange;
                    height: 1px;
                    width: 100px;
                    text-align: center;
                    margin: 15px auto 30px;
                    display: block;
                }
            }
        }
        &:hover {
            .hover-effect {
                opacity: 1;
            }
        }
    }
}

/*--------------- Our Service -----------------*/

.our-services {
    padding: 0 80px;
    .grid-item-sec {
        transition: all 0.5s ease-in-out;
        .featured-thumb {
            height: 218px;
            @include background(center center, cover);
            position: relative;
            @include breakpoint(x-normal) {
                height: 180px;
            }
            a {
                display: block;
            }
            .hover-effect {
                text-align: center;
                h4 {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 20px;
                    right: 20px;
                    color: $color-white;
                    font-size: 24px;
                    text-transform: $text-uppercase;
                    letter-spacing: 1px;
                    @include breakpoint(x-normal) {
                        font-size: 20px;
                    }
                }
                &:before {
                    top: 15px;
                    right: 15px;
                    bottom: 15px;
                    left: 15px;
                    border: 4px solid $color-white;
                    position: absolute;
                    content: '';
                    z-index: 99;
                }
            }
            &:before {
                content: "";
                background: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        &:hover {
            .featured-thumb {
                .hover-effect {
                    h4 {
                        color: $color-orange;
                        transition: all 0.5s ease-in-out 0s;
                    }
                }
            }
        }
    }
}

/*------------------ Service Provide ----------------*/

.section-block-serviceProvide {
    background: #dae2ee;
    padding: 0px;
    .container{
        position: relative;
    }
    h3 {
        margin-bottom: 22px;
    }
    .content-sec {
        width: calc(100% - 425px);
        padding: 50px 10px 50px 0px;
        p {
            margin-bottom: 30px;
        }
    }
    .img-sec {
        @include background(center, 100%);
        position: absolute;
        width: 445px;
        right: -30px;
        bottom: -40px;
        top: 0;
    }
}

/*---------------- Grid Section ----------------------*/

.section-block-grid {
    .grid-item {
        border: 1px solid $bdr-color;
        padding: 70px 50px;
        @include breakpoint(x-normal) {
            padding: 40px 30px;
        }
        p {
            margin-bottom: 0px;
        }
        h3 {    
            &:after {
                content: "";
                background: $color-orange;
                height: 1px;
                width: 100px;
                margin: 15px 0px 18px;
                display: block;
            }
        }
    }
}

/*---------------- Core Benefits -----------------*/

.section-block-core-benefits {
    text-align: center;
    h3 {
        margin-bottom: 25px;
    }
    p {
        width: 90%;
        margin: 0 auto 30px;
    }
    a {
        display: block;
    }
    .grid-item {
        margin-bottom: 30px;
        position: relative;
        transition: all 0.5s ease-in-out 0s;
        &:before {
            content: "";
            background: linear-gradient(to bottom, rgba(0, 16, 54, 0.1) 0%, rgba(0, 16, 54, 0.7) 100%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9;
        }
        .featured-thumb {
            height: 360px;
            @include background(center center, cover);
            @include breakpoint(x-normal) {
                height: 300px;
            }
            position: relative;
            &:before {
                content: "";
                background: $color-orange;
                opacity: 0.6;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transition: all 0.5s ease-in-out 0s;
                opacity: 0;
                z-index: 99;
            }
        }
        .hover-effect {
            text-align: center;
            h5 {
                position: absolute;
                top: 90%;
                transform: translateY(-90%);
                left: 20px;
                right: 20px;
                color: $color-white;
                font-size: 20px;
                letter-spacing: 1px;
                transition: all 0.5s ease-in-out 0s;
                z-index: 99;
                @include breakpoint(x-normal) {
                    font-size: 16px;
                }
                &:hover {
                    color: $black;
                }
            } 
            &:before {
                border-top: 4px solid #fff;
                border-bottom: 4px solid #fff;
                -webkit-transform: scale(0,1);
                transform: scale(0,1);
            }
            &:after {
                border-right: 4px solid #fff;
                border-left: 4px solid #fff;
                -webkit-transform: scale(1,0);
                transform: scale(1,0);
            }
            &:after, &:before {
                position: absolute;
                top: 15px;
                right: 15px;
                bottom: 15px;
                left: 15px;
                content: '';
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                z-index: 99;
            }
        }
        &:hover {
            .hover-effect {
                h5 {
                    top: 50%;
                    transform: translateY(-50%);
                }
                 &:after, &:before {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
            &:before {
                opacity: 0;
            }
            .featured-thumb {
                &:before {
                    opacity: 0.8;
                }
            }
        }
    }
}

/*-------------- Section block content ---------------*/

.section-block-content-wrap {
    background: #eef2f8;
    padding: 0px;
    height: 535px;
    margin-bottom: 40px;
    .container {
        position: relative;
    }
    .content-sec {
        padding: 50px 0px;
    }
    .img-sec {
        padding-right: 10px;
        position: absolute;
        left: 0;
        top: -33px;
        z-index: 99;
        img {
            box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.2);
        }
    }
}

/*------------ Section block specialist -----------*/

.section-block-specialist {
    h3 {
        text-align: center;
        margin-bottom: 40px;
    }
    .grid-item {
        position: relative;
        .map-sec {
            height: 300px;
            @include breakpoint(x-normal) {
                height: 250px;
            }
            iframe {
                height: 100%;
                width: 100%;
            }
        }
        .hover-sec {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            .content-sec {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                margin: 0 auto;
                img {
                    display: inline-block;
                    margin-bottom: 30px;
                }
            }
            &:before {
                top: 15px;
                right: 15px;
                bottom: 15px;
                left: 15px;
                border: 1px solid $color-white;
                position: absolute;
                content: '';
            }
            h4 {
                color: $color-white;
                font-size: 25px;
                font-weight: 500;
                @include breakpoint(x-normal) {
                    font-size: 20px;
                }
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &.blue-sec {
            &:before {
                background: $color-blue;
                opacity: 0.75;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
        &.orange-sec {
            &:before {
                background: $color-orange;
                opacity: 0.75;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

/*----------- Get In Touch -----------*/

.get-in-touch {
    padding-left: 20px;
    h4 {
        display: block;
        background: $color-orange;
        text-transform: $text-uppercase;
        color: $color-white;
        text-align: center;
        line-height: 3em;
        margin-bottom: 0px;
        font-family: $font-family;
        font-weight: $font-weight-regular;
    }
    form {
        background: #ededed;
        padding: 25px 35px 35px;
        .form-group {
            margin-bottom: 0px;
        }
        .form-control {
            background: transparent;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid #717171;
            padding-left: 0px;
            padding-right: 0px;
            opacity: 1; 
             z-index: 99;
        }
        button {
            text-align: center;
            margin: 30px auto 0;
            display: block;
            background: transparent;
            border-radius: 5px;
            border-color: $color-orange;
            color: $color-orange;
            min-width: 130px;
            &:hover, &:focus {
                background: $color-orange;
                color: $color-white;
                border-color: $color-orange;
            }
        }
    }
}

/*----------- Fresh Water Transform ----------*/

.section-block-contact-info {
    h3 {
        margin-bottom: 25px;
    }
    .content-sec {
        border: 1px solid $bdr-color;
        padding: 30px;
        position: relative;
    }
    .button {
        position: absolute;
        right: 15px;
        bottom: -38px;
    }
    .mrgn {
        margin-bottom: 50px;
    }
}

/*-------------- Block Grid ----------------*/

.section-grid-block {
    h3 {
        text-align: center;
        margin-bottom: 40px;
        @include breakpoint(x-normal) {
            margin-bottom: 30px;
        }
    }
    .mrgn-btm {
        margin-bottom: 40px;
        @include breakpoint(x-normal) {
            margin-bottom: 20px;
        }
    }
    .mrgn-btm-xs {
        margin-bottom: 20px;
    }
    .grid-item {
        .featured-thumb {
            height: 234px;
            @include background(center center, cover);
            position: relative;
            margin-bottom: 20px;
        }
        .content-sec {
            text-align: center;
            padding: 0 6px;
            h5 {
                a {
                    color: #555555;
                    font-family: $font-family;
                    font-weight: medium;
                    line-height: 1.5em;
                    font-size: 20px;
                    &:hover {
                        color: $color-orange;
                    }
                    @include breakpoint(x-normal) {
                        font-size: 17px;
                    }
                }
                &:after {
                    content: "";
                    background: $color-orange;
                    height: 1px;
                    width: 100px;
                    text-align: center;
                    margin: 15px auto 30px;
                    display: block;
                }
            }
        }
    }
}

/*----------------- Section Block Package --------------------*/

.section-block-package {
    h3 {
        margin-bottom: 20px;
    }
    .package-content {
        border: 1px solid $bdr-color;
        padding: 30px;
        h4 {
            margin-bottom: 20px;
        }
        li {
            list-style: none;
            margin-bottom: 8px;
            position: relative;
            padding-left: 28px;
            color: #888787;
            font-family: $font-family;
            font-weight: $font-weight-light;
            display: block;
            vertical-align: middle;
            letter-spacing: 1px;
            font-size: 18px;
            figure {
                height: 15px;
                width: 15px;
                margin-right: 8px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                bottom: 0;
                left: 0;
                svg {
                    height: 100%;
                    width: 100%;
                    fill: $color-orange;
                }
            }
        }
    }
}

/*------------ Why Choose Us --------------*/

.why-choose-wrap {
    padding-left: 20px;
    h5 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 20px;
        color: $black;
    }
    li {
        list-style: none;
        position: relative;
        margin-bottom: 15px;
        a {
            border: 1px solid $bdr-color;
            padding: 20px 10px 20px 70px;
            display: block;
            background: #f9f9f9;
            color: $black;
            font-size: 18px;
            line-height: 1.2em;
            &:hover {
                border-color: $color-orange;
                color: $color-orange;
                background: transparent;
            }
        }
        img {
            position: absolute;
            left: 20px;
            top: 50%;
            bottom: 0;
            transform: translateY(-50%);
        }
    }
}

/*-------------- Client Logo Slider ---------------*/

.section-block-clientlogo {
    .grid-item {
        display: inline-block;
        vertical-align: middle;
        img {
            text-align: center;
            margin: 0 auto;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/*------------ Contact Information -------------*/

.section-block-contactus {
    .map-wrap {
        padding-right: 18px;
    }
    .map-sec {
        height: 570px;
        margin-bottom: 25px;
        iframe {
            height: 100%;
            width: 100%;
        }
    }
    .social-share {
        text-align: center;
        li {
            margin: 0 5px;
            a {
                color: $color-orange;
                border: 1px solid $color-orange;
                border-radius: 100%;
                height: 80px;
                width: 80px;
                display: inline-block;
                font-size: 20px;
                position: relative;
                @include breakpoint(x-normal) {
                    height: 50px;
                    width: 50px;
                }
                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                }
                &:hover {
                    background: $color-orange;
                    color: $color-white;
                }
            }
        }
    }
    .get-a-quote {
        background: $color-white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        padding: 40px 35px;
        h4 {
            font-size: 26px;
            color: $color-orange;
            margin-bottom: 30px;
            text-transform: $text-uppercase;
            letter-spacing: 2px;
        }
        form {
            .form-control {
                border-radius: 4px;
                height: 60px;
            }
            textarea.form-control {
                height: 130px;
            }
            .button {
                width: 100%;
            }
        }
    }
}

/*-------------- Section Gallery --------------------*/

.section-block-gallery {
    width: 935px;
    margin: 0 auto;
    .grid-item {
        margin-bottom: 30px;
        .row {
            .before-sec {
                padding-right: 0px;
            }
            .after-sec {
                padding-left: 0px;
            }
        }
    }
    .grid-content {
        background: #f5f5f5;
        padding:10px 15px;
        p {
            margin-bottom: 0px;
        }
    }
    .grid-sec {
        @include background(center center, cover);
        height: 335px;
        position: relative;
        span {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(11,55,126, 0.8);
            display: inline-block;
            color: $color-white;
            font-size: 20px;
            min-width: 105px;
            line-height: 2em;
            text-transform: $text-capitalize;
            text-align: center;
            
        }
    }
    .show-more {
        text-align: center;
        margin: 55px auto 0px;
    }
}

/*---------------- Blog list ----------------*/

.section-block-blogList {
    padding: 80px 0px;
    .grid-item {
        position: relative;
        border-bottom: 1px solid #cecece;
        margin-bottom: 35px;
        padding-bottom: 45px;
        .featured-thumb {
            display: inline-block;
            @include background(center center, cover);
            height: 190px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 200px;
        }
        .content-sec {
            padding-left: 230px;
            h5 {
                a {
                    color: #555555;
                    font-size: 20px;
                    &:hover {
                        color: $color-orange;
                    }
                }
            }
            .meta-info {
                display: flex;
                justify-content: space-between;
                span {
                    color: #aaaaaa;
                    font-size: 16px;
                    align-self: center;
                }
                a {
                    min-width: 160px;
                    line-height: 1.3em;
                    align-self: center;
                    font-family: 'Bariol-Regular';
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

/*------------------- Blog Detail --------------------*/

.section-block-blogSingle {
    padding: 80px 0px;
    .featured-thumb {
        margin-bottom: 20px;
    }
    .social-info {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $bdr-color;
        padding-bottom: 6px;
        margin-bottom: 20px;
        .meta-info {
            align-self: center;
            span {
                font-size: 16px;
                color: #aaaaaa;
            }
        }
        .social-share {
            align-self: center;
            li {
                a {
                    color: #bfbfbf;
                    font-size: 20px;
                    &:hover {
                        color: $color-orange;
                    }
                }
            }
        }
    }
    h5 {
        font-size: 20px;
    }
    p {
        margin-bottom: 0px;
    }
}

/*------------------- Sidebar Section -------------------*/

.section-element-sideBar {
    .search-form{
        margin-bottom: 20px;
        input[type="search"] {
            padding: 0px 80px 0px 30px;
            border-color: #d7d7d7;
            background: transparent;
            @include breakpoint(x-normal) {
               padding: 0px 80px 0px 20px;
            }
        }
        form {
            position: relative;
        }
        .search-submit {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #d7d7d7;
            min-width: inherit;
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            line-height: 2.5;
            width: 60px;
            border-radius: 0px;
            padding: 0px;
            &:before {
                content: "\f002";
                font-size: 15px;
                font-family: FontAwesome;
            }
            &:hover {   
                background: $color-orange;
                color: $color-white; 
            }
        }
    }
    h4 {
        margin-bottom: 15px;
        text-transform: $text-capitalize;
        font-weight: 500;
    }
    .section-element-recentPost,
    .section-element-Category,
    .section-element-Archive {
        border: 1px solid #d7d7d7;;
        padding: 25px;
        margin-bottom: 20px;
    }
    .recent-post-grid {
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0px;
        }
        .featured-thumb {
            height: 72px;
            width: 80px;
            @include background(center center, cover);
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;  
        }
        .content-sec {
            padding-left: 100px;
            width: 100%;
            p {
                font-size: 14px;
                line-height: 1.5em;
            }
        }
    }
    .recent-post-grid-wrap {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0px;
        }
        .meta-info {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
            padding: 3px 0px;
            span {
                font-size: 12px;
                color: #8d8d8d;
                align-self: center;
            }
            a {
                color: #8d8d8d;
                font-size: 12px;
                align-self: center;
                text-transform: capitalize;
                &:hover {
                    color: $color-orange;
                }
            }
        }
    }
    .section-element-Category { 
        ul {
            li {
                list-style: none;
                margin-bottom: 10px;
                position: relative;
                a {
                    color: #999999;
                    font-size: 16px;
                    padding-left: 20px;
                    display: inline-block;
                    &:hover {
                        color: $black;
                        &:before {
                            color: $color-orange;
                        }
                    }
                    &:before {
                        content: "\f0da";
                        font-family: FontAwesome;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        color: #999999;   
                    }
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }    
    }
    .section-element-Archive { 
        ul {
            li {
                list-style: none;
                margin-bottom: 10px;
                a {
                    color: #999999;
                    font-size: 16px;
                    display: inline-block;
                    &:hover {
                        color: $black;
                    }
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.load-more {
    text-align: center;
    margin: 70px auto 0px;
    a {
        color: $color-orange;
        border: 1px solid $color-orange;
        width: 154px;
        height: 2.3em;
        border-radius: 4px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        padding: 6px;
        &:hover {
            background: $color-orange;
            color: $color-white;
        }
    }
}