//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #151515;
$color-grey: #666666;
$color-pink: #fe81b8;
$grey-bdr: #ebebeb;
$color-orange: #f37e0d;
$color-red: #e70000;
$bdr-color: #e8e8e8;
$color-blue: #325fab;

//Font Family 
$font-family: 'Poppins', sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;